body, html{
    height: 100%;
    width:  100%;
}

/* webpack */


* {
    margin: 0;
    Padding: 0;
    font-size: 1.1em;
    line-height: 1.2em;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    width: 900px;
    margin: 0 auto;
}

.nav-item{
    display: inline-block;
}

main{
    widows: 760px;
    float: left;
}

